doctype html
html
	
	head
		h4 Dear admins,
	body
		p You have an upcoming event in the next day.
		p A reminder of your upcoming event details:
			br 
			strong Name:  
			| #{name}
			br
			strong Event description: 
			| #{description}
			br
			strong Date: 
			| #{date}
			br
			strong Event volunteers:
			ul 
			each user in users
				li= user.name 
		p Regards,
		p CHARITIKATHON 

