doctype html
html
	head
		h4 Dear #{userName},
	body
		p There are some changes for your event. 
		p Please take a look at the new event details and don't miss out anything.
		p Below is your event latest update:
			br 
			strong Name:  
			| #{name}
			br
			strong Event description: 
			| #{description}
			br
			strong Date: 
			| #{date}
		p Regards,
		p CHARTIKATHON 


