doctype html
html
	head
		h4 Dear #{userName},
	body
		p We regret to say that the event below has been cancelled due to unexpected problems.
			br 
			strong Name:  
			| #{name}
			br
			strong Event description: 
			| #{description}
			br
			strong Date: 
			| #{date}
		p We sincerely apologize for any inconvenience cause by this change. We hope you would continue to support the team in the future
		p Regards,
		p CHARTIKATHON 


