doctype html
html
	head
		h4 Dear #{userName},
	body
		p This is a confirmation email for your registration to our event 
		p Below is your event details:
			br 
			strong Name:  
			| #{name}
			br
			strong Event description: 
			| #{description}
			br
			strong Date: 
			| #{date}
		p Thank you for joining our event. We hope you will have a good time in the incoming event
		p Regards,
		p CHARITIKATHON 


